.actionbar
  position absolute
  top 30px
  height 30px
.actionbar a
  float left
  width 30px
  height 30px
  padding 4px 2px 4px 6px
  color #282828
  font-size 18px
.actionbar a:hover
  color #BCBCBC