#attrblock
  position absolute
  top 60px
  width 300px
  background #E4E4E4
  overflow hidden
#attributes
  width 100%
  padding 10px
#attributes td
  text-align right
  vertical-align top
  width 24%
  padding 16px 5px 0 0
#attributes td + td
  text-align left
  width 76%
  padding 10px 10px 0 0
