#searchbar
  position absolute
  top 40px
  left 46px
  width 60%
  height 27px
.searchbar-item
  float left
  max-height 27px
select.searchbar-item
  width 15%
#target
  margin-left 1%
#searchbar input
  width 55%
  margin-left 1%
#searchbar button
  width 12%
  margin-left 1%
  padding-top 3px
  color #F4F4F4