#searchresult
  position absolute
  top 77px
  left 46px
  width 60%
#searchresult .alert
  float left
  width 100%
  height 35px
  padding 7px
#searchresult-list
  float left
  width 100%
#newscript
  float left
  width 100%
  height 65px
  color #C9C9C9
  font-size 18px
  padding 23px 0 0 49%
  border-radius 6px
  background #F5F5F5
#newscript:hover
  color #F5F5F5
  background White