#versionbar
  position absolute
  top 30px
  height 30px
#versionbar-secelct
  float left
  max-height 26px
  width 120px
  margin-top 2px
  margin-right 5px
  background transparent
#versionbar a
  float left
  width 30px
  height 30px
  padding 4px 2px 4px 6px
  color #282828
  font-size 18px
#versionbar a:hover
  color #BCBCBC