div#actionbar(hidden='true')
  a#actionbar-download(title='下载脚本')
    span(class='glyphicon glyphicon-cloud-download')
  a#actionbar-save(title='保存脚本')
    span(class='glyphicon glyphicon-cloud-upload')
  a#actionbar-test(title='测试脚本')
    span(class='glyphicon glyphicon-play')
  a#actionbar-release(title='发布脚本')
    span(class='glyphicon glyphicon-check')
  a#actionbar-attrblock(title='脚本属性')
    span(class='glyphicon glyphicon-wrench')
