div.actionbar
  a(title='下载脚本')
    span(class='glyphicon glyphicon-cloud-download')
  a(title='保存脚本')
    span(class='glyphicon glyphicon-cloud-upload')
  a(title='测试脚本')
    span(class='glyphicon glyphicon-play')
  a(title='发布脚本')
    span(class='glyphicon glyphicon-check')
  a(title='脚本属性')
    span(class='glyphicon glyphicon-wrench')
