extends layout

block content
  div#header
    div#sidebar-switch +
    div#header-tip SWIDE
    div#logout span(class='glyphicon glyphicon-signout')
    div#user span(class='glyphicon glyphicon-user')
  div#sidebar
  block main-body