//- layout.jade
doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/bootstrap.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap-theme.css')
    link(rel='stylesheet', href='/stylesheets/swide.css')
  body
    block content
  script(href='/javascripts/jquery.js')
  script(href='/javascripts/bootstrap.js')
