div#navbar
  div#navbar-location-area
    div#navbar-location-box
      a#navbar-location SWIDE
  div#navbar-logo-area
    img#navbar-logo(src='/icbc.ico' href='#')
  a.navbar-icon#navbar-user(href='/user' title='用户信息')
    span(class='glyphicon glyphicon-user')
  a.navbar-icon#navbar-logout(href='/logout' title='退出系统')
    span(class='glyphicon glyphicon-off')
