- var fields = ['OS', 'DB', 'MDW', 'STORAGE']
- var osTargets = ['AIX', 'SLES', 'Windows']

div.searchbar
  select.searchbar-item.form-control(ng-model='search.field')
    - each item in fields
      option(value= item)= item
  select.searchbar-item.form-control(ng-model='search.target')
    - each item in osTargets
      option(value= item)= item
  input.searchbar-item.form-control(type='search' placeholder='请输入脚本核心命令' required autofocus ng-model='search.keywords')
  button.searchbar-item.btn.btn-lg.btn-inverse.btn-block(ng-click='search()')
    span(class='glyphicon glyphicon-search')
