div#sidebar
  div.sidebar-corner
  a#sidebar-new(title='新建脚本')
    span(class='glyphicon glyphicon-file')
  a#sidebar-edit(title='编辑脚本')
    span(class='glyphicon glyphicon-pencil')
  a#sidebar-search(title='搜索脚本')
    span(class='glyphicon glyphicon-search')
  a#sidebar-list(title='脚本列表')
    span(class='glyphicon glyphicon-th-list')
  a#sidebar-recent(title='最近更新')
    span(class='glyphicon glyphicon-time')
  a#sidebar-settings(title='偏好设置')
    span(class='glyphicon glyphicon-cog')
