div#versionbar(hidden='true')
  select.form-control#versionbar-secelct
  a#versionbar-download(title='下载脚本')
    span(class='glyphicon glyphicon-cloud-download')
  a#versionbar-edit(title='编辑脚本')
    span(class='glyphicon glyphicon-pencil')
