body {
    background-color: rgb(240,240,240);
}

h1 {
    background-color: #00ff00;
}

p {
    background-color: rgb(255,0,255);
}

.div.alert.alert-error {
    font-color: rgb(255,0,0);
}

.form-login {
    max-width: 25%;
    padding: 3%;
    margin: 0 auto;
    margin-top: 30%;
}

.form-login input[type="password"] {
    margin-top: 1%;
}

.form-login button {
    margin-top: 3%;
    margin-bottom: 3%;
}

#editor {
    position: absolute;
    width: 80%;
    height: 80%;
}